@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    box-shadow: 0 0 10px #ddd inset;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(205 92 92 /50%);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: indianred;
}


.accordion {
    margin-top: 20px;
    width: 95%;
    height: 85%;
    align-self: center;
}


.item {
    padding: 10px 20px;
    border-radius: 13px;
    background: var(--paper);
    margin-bottom: 5px;
}

.title {
    font-family: 'Tilt Warp', cursive;
    color: var(--clr-gray500);
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 5px 10px var(--clr-gray300);
}

.title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 5px 10px var(--clr-gray300);
}


.content {
    max-height: 0;
    overflow: hidden;

}

.show {
    color: var(--clr-gray500);
    font-family: 'Mukta', sans-serif;
    margin-top: 5px;
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}

.container-accordion-icon {
    width: 25px;
    height: 25px;
    display: flex;
}

.trash-icon-accordion {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.container-accordion-icons {
    width: 70px;
    display: flex;
    justify-content: space-around;
}

/***************** CONTENT ACORDION********************/

.apto-accordion {
    margin-right: 5px;
    text-align: right;
}

.container-receta {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.container-ingredientes {
    width: 30%;

}

.procedimiento {
    width: 70%;
    padding-left: 5px;
    border-left: 1px var(--clr-gray500) solid;
}

.apto-span {
    margin-right: 5px;
}