@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

.busquedas {
    height: 30%;
    margin: 4px;
    padding: 5px;
    border-radius: 4px;
    background-color: var(--paper)
}


.filter-h3 {
    font-family: 'Tilt Warp', cursive;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    color: var(--clr-gray500);
    font-size: 20px;
}


/******************************************************/



.container-filter-ingredientes {
    
    border-radius: 3px;
    text-align: center;
}

.cnt-flt-ingredientes{
    display: flex;
    justify-content: center;
    padding: 5px;

    flex-wrap: wrap;
}



/************************ SECTOR -- Apto*********/
.box-filter {
    display: flex;
    align-items: center;
    
    padding:0px 4px 0px 4px;
    border-radius: 3px;
    border: 1px var(--dark) solid;
    margin-right: 2px;

    font-size: 18px;
    font-family: 'Mukta', sans-serif;
    letter-spacing: 0.2rem;
}



.filter-sector {
    display: flex;
    align-items: center;
    margin: 2px;
    
}


.icon-trash {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-bottom:4px;
}