.ul-sidebar{
    margin-top: 35px;
    
}

.logo {
    height: 58px;
    margin: 5px;
    display: flex;
    cursor: pointer;
}

.img {
    height: 100%;
}

.title-logo {
    font-family: 'Tilt Warp', cursive;
    color: white;
    font-size: 25px;
    margin-top: 15px;
    transition: all 0s ease;
}

.icons {
    height: 45px;
   
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    /*width: 250px;*/
    background-color: #12171e;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
   
}


.sidebar.active {
    width: 250px
}


.sidebar .top span{
    color:#fff;
    opacity: 0;
}

.sidebar.active .top span{
    opacity: 1;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li div{
    color:#fff;
    display:flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li div:hover{
    background-color:#fff;
    color:#12171e;
}

.sidebar ul li div img{
    border-radius: 120px;
    cursor: pointer;
}

.sidebar .nav-item{
    opacity:0;
}

.sidebar.active .nav-item{
    opacity: 1;
    margin-left: 5px;
}

.sidebar ul li .tooltip{
    position: absolute;
    left:125px;
    top:50%;
    transform: translate(-50%,-50%);
    background-color:#fff;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding:.4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip{
    opacity:1;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.sidebar .group {
    display: none;
}

.sidebar.active .group{
    display: inline-flex;
}
.sidebar.active .icono-lupa{
    display: none;
}
.icono-lupa{
    cursor:pointer;
}





/********************* INPUT********************/

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 220px;
   }
   
   .input-sidebar {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input-sidebar:placeholder {
    color: #9e9ea7;
   }
   
   .input-sidebar:focus, .input-sidebar:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .icon-input {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }