/****WEBKIT SCROLL BAR****/
::-webkit-scrollbar {
    width: 50px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    box-shadow: 0 0 10px #ddd inset;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(205 92 92 /50%);
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: indianred;
  }

/********************************TABLE****************************************/

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

.tr-table:hover {
    border-top: 1px var(--fourth-color) solid;
    border-bottom: 1px var(--fourth-color) solid;
  }


.table {
  border-radius: 3px;
  font-family: 'Mukta', sans-serif;
  color: var(--clr-gray500);
  background-color: var(--clr-gray100);
  overflow: hidden;
  width: 98%;
  margin: 4px;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thead {
  box-shadow: 0 5px 10px var(--clr-gray300);
  text-align: center;
}

.th {
  font-family: 'Tilt Warp', cursive;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--clr-gray500);
  font-size: 23px;
}


.text-table-recetas {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}


.td {
  padding: 1px 12px;
  display: flex;
  justify-content: space-between;

}

.container-icon-td {
  margin-top: 2px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.icon-td {
  width: 100%;
  height: 100%;
}

.tbody {
  width: 100%;
  overflow-y: scroll;
  height: 90%;
}

.activeAccordion{
  font-size: 20px;
  font-weight: 900;
  color: var(--fourth-color);
}