:root {
  --fourth-color: #FF7F51;
  --fondo:#472d30;
  --clr-gray100:#f9fbff;
  --clr-gray300:#e1e5ee;
  --clr-gray500:#4f546c;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* APPP*/
.App {
  background-color: var(--fondo);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23CE4257' stroke-width='96.1' stroke-opacity='0.08' %3E%3Ccircle fill='%23FF9B54' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f89251' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f1884e' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23e97f4b' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e17649' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d96d46' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23d16543' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23c95c41' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23c1533e' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23b94b3c' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23b04239' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23a73a37' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%239f3234' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23962931' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%238d202f' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2384172c' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%237b0c29' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23720026' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
  position: static;
}



/*error*/

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}